
@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



     @{
      Html.RenderPartial("_MenuSubLayout");   
    }
   <div class="container">
        <main role="main" class="pb-3">
            Body
        </main>
    </div>